* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

html,
body {
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: black;
  /* --------------------- */
  --nav-color: black;
  --nav-text-color: white;
  /* --------------------- */
  --text-color: white;
  --primary-color: #0C356A;
  /* --------------------- */
  --shadow: #333333;
}

.light-theme {
  --bg-color: white;
  /* --------------------- */
  --nav-color: white;
  --nav-text-color: rbg(0, 0, 24);
  /* --------------------- */
  --text-color: black;
  --primary-color: #0C356A;
  /* --------------------- */
  --shadow: #AAAAAA;

}

/* ----------------------------------------------------------------- */
/* #bg-img{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  
} */

/* ----------------------------------------------------------------- */
/* NavBar */
.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  z-index: 100;
}

.nav-menu img {
  height: 25px;
  width: 25px;
}

#theme {
  cursor: pointer;
}

.nav-menu ul {
  display: flex;
}

.nav-menu a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.nav-menu ul li {
  display: inline-block;
  padding: 10px 17px;
}

.nav-left {
  margin-left: 15px;
}

.nav-left a {
  font-family: 'Changa', sans-serif;
  font-size: 2.3rem;
  padding: 0 15px;
  letter-spacing: 5px;
  user-select: none;
}

.nav-right {
  margin-right: 15px;
}

.nav-menu .nav-right a {
  font-family: 'Play', 'Courier New', Courier, monospace;
  font-size: 1.11rem;
  user-select: none;
  transition: color 0.3s ease;
}

.nav-right ul li a:hover {
  color: #FF4655;

}

.nav-right ul li img {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/* ----------------------------------------------------------------- */
/* Main */

.main {
  height: 520px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}

.main-left {
  width: 60%;
  height: 520px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  /* padding-left: 60px;
  padding-top: 90px; */
}

.left-in {
  padding-left: 65px;
  padding-top: 100px;
}

h2 {
  color: #FF4655;
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h1 {
  color: var(--nav-text-color);
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 5px;

}

.typing-container {
  margin-top: 20px;
  max-width: 600px;
  font-size: 24px;
}

.typing-container p {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-color);
}

.main-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 520px;
  /* background-color: red; */
  position: relative;
  /* transform: translate(-50%,-50%); */
}

.main-right img {
  margin-bottom: 50px;
  width: 350px;
  height: 350px;
  /* border-radius: 50%; */
  animation: float 5s ease-out infinite;
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes float {
  50% {
    transform: translateY(20px);
    /* transform: translateX(50px); */
  }
}

#shadow {
  height: 15px;
  width: 20px;
  background-color: var(--shadow);
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(2px);
  animation: shrink 5s ease-out infinite;
}

@keyframes shrink {
  0% {
    width: 45%
  }

  50% {
    width: 35%
  }

  100% {
    width: 45%
  }

}

#prof {
  border: 2px var(--nav-color);
}

/* ----------------------------------------------------------------- */
/* About */
.about {
  margin-left: 60px;
  margin-right: 60px; 
  height: 500px;
  /* border: 2px solid var(--text-color); */
  /* border-radius: 2px; */
}

.about-center {
  display: flex;
  justify-content: left;
  align-items: center;
}


/* ----------------------------------------------------------------- */
/* For all titles */
.title-text {
  --s: 0.1em;
  --hover-c: #FF4655;

  color: var(--text-color);
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--hover-c) 50%, var(--text-color) 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--hover-c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;

  -webkit-background-clip: text, padding;
  background-clip: text, padding;

  transition: background 0.5s, padding 0.5s, text 0.5s;
}

.title-text:hover {
  --_p: 100%;
}

.title-text {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 2rem;
  cursor: pointer;
}


/* ----------------------------------------------------------------- */
/* Services */

/* ----------------------------------------------------------------- */
/* Projects */

/* ----------------------------------------------------------------- */
/* Contacts */



/* ----------------------------------------------------------------- */
/* Copyright */
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: 'Play', sans-serif;
  color: var(--nav-text-color);
}

/* ----------------------------------------------------------------- */